[submodule "x86-semantics/docs/instruction_manuals/instruction-summary"]
	path = x86-semantics/docs/instruction_manuals/instruction-summary
	url = https://github.com/sdasgup3/x86-64-instruction-summary
