[submodule "x86-semantics/docs/instruction_manuals/instruction-summary"]
	path = x86-semantics/docs/instruction_manuals/instruction-summary
	url = https://github.com/sdasgup3/x86-64-instruction-summary
[submodule "x86-semantics/docs/instruction-summary"]
	path = x86-semantics/docs/instruction-summary
	url = https://github.com/sdasgup3/x86-64-instruction-summary
[submodule "x86-semantics/docs/reports/papers/ASPLOS-19"]
	path = x86-semantics/docs/reports/papers/ASPLOS-19
	url = git@github.com:sdasgup3/ASPLOS19-X86-64-Semantics.git
