*.clang.bc
*.clang.opt.bc
*.clang.trans.bc
*.clang.trans.opt.bc
*.exe
*.dot
*.o
*.allexe
driver_64.bc
after.trans.out
*.cfg2bc.log
ELF_64_linux.bc
alltogether.log
build/*
*.ll
*.cfg
*.coverage.csv
*.native
*.lifted.bc
*.ida.cfg
*.ida.log
*.lifted.ll
