  rule <k> %REG64 => MI ...</k> <REG64> MI </REG64>

  rule <k> updateReg(MI:MInt, %REG64) => . ...</k> <REG64> _ => MI </REG64>

  rule <k> extractLSBitsFromRegister(%REG64, 8) => truncate(MI,64,8) ...</k>
  <REG64> MI </REG64>

  rule <k> extractLSBitsFromRegister(%REG64, 16) => truncate(MI,64,16) ...</k>
  <REG64> MI </REG64>

  rule <k> extractLSBitsFromRegister(%REG64, 32) => truncate(MI,64,32) ...</k>
  <REG64> MI </REG64>

  rule <k> 
    pluginLSBitsToRegister(MIs:MInt, %REG64) =>
      updateReg(updateLSB(MId, MIs), %REG64) ...</k>
  <REG64> MId </REG64>
