requires "x86-semantic-utils.k"

module ADD-IMM-R8
  imports X86-SEMANTIC-UTILS

  syntax Int ::= handleImmediate(Imm) [function]
  rule handleImmediate($ I:Int) => I

  rule
  <k>
    execinstr(addq, ( DestR:R64, MIsrc1:MInt, MIsrc2:MInt, .Typedoperands )) =>
      updateReg(addMInt(MIsrc1, MIsrc2), DestR) 
  ...</k> 

  // Unroll START
Unroll START   
  rule <k> 
    execinstr ( addq , (I:Imm ,  (%REG64 , .Typedoperands)) ) => 
      execinstr(addq, (%REG64, mi(64, handleImmediate(I)), MI, .Typedoperands)) 
  ...</k>
  <REG64> MI </REG64>
Unroll END   
  // Unroll End
endmodule

module ADD-SEMANTICS
  imports ADD-IMM-R8
endmodule
